{% for data in site.tags %}
    {% capture tag %}{{ data | first }}{% endcapture %}
    <!-- keep these classes if you are using top_tags.html -->
    <h2 class="{{ tag_class_prefix }}{{ tag }}" >{{ tag }}</h2>
    <ul class="{{ tag_class_prefix }}{{ tag }}" >
        {% for post in site.tags[tag] %}
            <li>
                <span>{{ post.date | date: '%b %Y' }}</span>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endfor %}

<!-- To show contents of a specific tag -->
<!--  keep this if using top_tags.html  -->
<script type="text/javascript">
    var url = window.location.href;
    var tag = url.split('=')[1];
    if (tag) {
        $('h1').html('<a href="{{ tag_page_url }}">Tags</a>:' + tag);
        var selector = '[class^={{ tag_class_prefix }}]:not(.{{ tag_class_prefix }}' + tag + ')';
        $(selector).hide();
    }
</script>
